.checkout h2{
    color: #00A8FF;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 64px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 48px;
    margin-top: 76px;
}

.input_checkout_main_title{
    color:  #FFF;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 48px;
    font-weight: 600;
    margin-top: 19px;
    text-transform: uppercase;
    margin-bottom: 32px;
}
.input_checkout_title{
    color: #FFF;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 12px;
    span{
        color: #00A8FF;

    }
}

.checkout_container_list_title{
    color:#FFF;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.checkout{
    input,
    textarea{
        outline: none;
        margin-bottom: 32px;
    }

    input{
        border-radius: 8px;
        border: 1px solid #1F1F1F;
        background: transparent;
        height: 43px;
        max-width: 511px;
        width: 100%;
        color: white;
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        text-indent: 12px;
    }
    input::placeholder {
        color: #6B6B6B;
    }
    
    textarea{
        text-indent: 12px;
        height: 138px;
        border-radius: 8px;
        background: #1F1F1F;
        max-width: 511px;
        width: 100%;
        padding-top: 12px;
        color: white;
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        resize:none;
        margin-bottom: 60px;
    }
}
.checkout_container{
    display: flex;
    justify-content: space-between;
    .checkout_container_list{
        width: 100%;
        max-width: 511px;
    }
    .checkout_container_form{
        width: 100%;
        max-width: 596px;
    }
}



.iti{
    margin-bottom: 32px;
    width: 100%;
    .iti__flag-container{
        background: #1F1F1F;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
    .iti__selected-dial-code{
        color: white;
    }
}
