.checkout h2{
    color: #00A8FF;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 64px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 48px;
    margin-top: 76px;
}

.input_checkout_main_title{
    color:  #FFF;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 48px;
    font-weight: 600;
    margin-top: 19px;
    text-transform: uppercase;
    margin-bottom: 32px;
}
.input_checkout_title{
    color: #FFF;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.input_checkout_title span{
    color: #00A8FF;
}

.checkout_container_list_title{
    color:#FFF;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.checkout input,
.checkout textarea {
    outline: none;
}

.checkout input {
    border-radius: 8px;
    border: 1px solid #1F1F1F;
    background: transparent;
    height: 43px;
    max-width: 511px;
    width: 100%;
    color: white;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    text-indent: 12px;
}

.checkout input::placeholder {
    color: #6B6B6B;
}

.checkout textarea {
    text-indent: 12px;
    height: 138px;
    border-radius: 8px;
    background: #1F1F1F;
    max-width: 511px;
    width: 100%;
    padding-top: 12px;
    color: white;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    resize: none;
    margin-bottom: 60px;
}

.checkout_container{
    display: flex;
    justify-content: space-between;
}

.checkout_container .checkout_container_list{
    width: 100%;
    max-width: 511px;
}
.checkout_container .checkout_container_form{
    width: 100%;
    max-width: 596px;
}

.iti{
    width: 100%;
}

.iti .iti__flag-container{
    background: #1F1F1F;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.iti .iti__selected-dial-code{
    color: white;
}


.btn_order{
    margin-top: 24px;
    border-radius: 8px;
    background: #00A8FF;
    width: 100%;
    height: 56px;
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.total_price{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #FFF;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 54px;
}

.total_price .total_price_main{
    margin-left: 5px;
    color: #00A8FF;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: flex-start;
}

.total_price .total_price_main span{
    color: #00A8FF;
    font-family: 'Inter', sans-serif;
    font-size: 12px ;
    font-weight: 500;
}

@media (max-width:1200px) {
    .checkout_container_list{
        padding: 10px;
    }
}

@media (max-width:1000px) {
    .checkout_container{
        display: block;
    }

    .checkout_container_list{
        padding: 0px;
    }

    .checkout
    input,
    .checkout
    textarea,
    .checkout_container
    .checkout_container_list{
        max-width: 100%;
    }

    .checkout{
        width: auto;

    }

    main{
        padding-top: 8rem;
    }
}

.container_input{
    margin-bottom: 24px;
}

.container_submit{
    padding-bottom: 93px;
}

.attention_error,
.attention_error_btn{
    display: none;
    color: red;
    font-size: 11px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 32px;
}