.delivery {
    margin-bottom: -40px;
    width: 100%;
}

.delivery .container {
    min-height: 712px;
    display: flex;
    background: url("../img/layer/delivery.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
}

.delivery .delivery_title {
    color: #FFF;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.delivery .delivery_payment_item {
    color: #959595;
    font-family: 'Inter', sans-serif;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}

.delivery img {
    width: 100%;
}

.delivery .row {
    width: 100%;
    padding-left: 108px;
    padding-right: 108px;
}

.delivery .col:first-child {
    display: grid;
    align-items: center;
}

.delivery .delivery_container_item {
    display: flex;
    width: 100%;
    max-width: 390px;
    margin-bottom: 15px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    justify-content: space-between;
}

.delivery .delivery_container_item div:first-child {
    color: #959595;
    font-weight: 400;
}

.delivery .delivery_container_item div:last-child {
    color: #00A8FF;
    font-weight: 700;
}

@media (max-width: 1200px) {
    .delivery .container {
        background: none;
    }

    .delivery .row {
        padding-left: 0;
        padding-right: 0;
    }

    .delivery .col {
        padding: 10px;
    }
}

@media (max-width: 584px) {
    .delivery .container {
        max-width: fit-content;
    }
}
