header {
    z-index: 2;
    background: black;
    position: fixed;
    min-height: 176px;
    width: 100%;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header .header_starter {
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

header .header_starter div {
    align-items: center;
    display: flex;
}

header .header_starter div:first-child {
    margin-right: 40px;
}

header .header_starter div img {
    margin-right: 10px;
}

header .header_bucket {
    display: flex;
    align-items: center;
}

header .header_bucket label {
    cursor: pointer;
}

header .header_bucket .bucket {
    cursor: pointer;
    position: relative;
    margin-left: 40px;
}

header .header_bucket .bucket span {
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    background: #00A8FF;
    color: #FFF;
    font-family: 'Rubik', sans-serif;
    font-size: 7px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .header_bucket a:hover {
    color: #00A8FF;
    transition: 0.5s;
}

header .category_container {
    border-top: 1px solid #1F1F1F;
    border-bottom: 1px solid #1F1F1F;
    margin-top: 10px;
    min-height: 57px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header .category_list_item a {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

header .category_list_item img {
    margin-right: 10px;
}

header .category_list_item a:hover {
    transition: 0.5s;
    color: #00A8FF;
}

.header_bucket{
    z-index: 2;
    max-width: 278px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.swiper_container_head{
    display: none;
}

/*----------------------------BURGER-----------------------------------*/
#menu__toggle,
#cart__toggle {
    opacity: 0;
  }

  .menu__btn {
    display: flex; 
    align-items: center; 
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

.menu__box {
    z-index: -1;
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 95px 0;
    list-style: none;
    text-align: center;
    background: #0E0E0E;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

  .menu__item {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    font-weight: 400;
  }

    .menu__item img{
        margin-right: 15px;
    }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
  }

  .menu__btn_container{
    margin-left: 32px;
    width: 32px;
    position: relative;
    display: none;
  }

    .menu__box_cart{
        z-index: 1;
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        right: -100%;
        width: 100%;
        max-width: 627px;
        height: 100%;
        margin: 0;
        padding-top: 80px;
        padding-left: 21px;
        padding-right: 21px;
        list-style: none;
        background: #0E0E0E;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    }

    .menu__box_cart .menu__box_cart_title{
        margin-top: 41px;
        color: #00A8FF;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 48px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 12px;
    }

    .menu__box_cart .btn_create_order{
        width: 100%;
        max-width: 498px;
        display: flex;
        align-items: center;
        height: 56px;
        border-radius: 8px;
        background: #00A8FF;
        justify-content: center;
        color: #FFF;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 32px;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 32px;
    }

    .menu__box_cart .cart_product_container_list{
        max-width: 498px;
        min-height: 50vh;
        max-height: 5rem;
        overflow-y: scroll;
        border-top: 1px solid #1F1F1F;
    }

    .menu__box_cart, 
    .menu__box{
        transition-duration: .25s;
    }
      

  #cart__toggle:checked ~ .menu__box_cart{
    visibility: visible;
    right: 0;
  }
/*----------------------------BURGER END-----------------------------------*/

.product_in_cart_item {
    display: flex;
    padding-top: 24px;
    position: relative;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.product_in_cart_item .product_in_cart_item_info_head {
    display: flex;
    justify-content: space-between;
}

.product_in_cart_item .product_in_cart_gram {
    padding: 2px 6px;
    border-radius: 64px;
    background: rgba(255, 255, 255, 0.20);
    width: 83px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_in_cart_item .product_in_cart_gram p {
    color: #FFF;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.product_in_cart_item .product_in_cart_gram p span {
    font-family: 'Inter', sans-serif;
    font-size: 8px;
    font-weight: 600;
}

.product_in_cart_item .product_in_cart_item_info_head_title {
    margin-top: 12px;
}

.product_in_cart_item .product_in_cart_item_img {
    border-radius: 12px;
    margin-right: 19px;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    border: 1px solid rgba(107, 107, 107, 0.20);
    background: linear-gradient(232deg, rgba(107, 107, 107, 0.08) 0.46%, rgba(107, 107, 107, 0.00) 100%);
}

.product_in_cart_item .product_in_cart_item_img img {
    width: 100%;
    max-width: 70px;
}

.product_in_cart_item .product_in_cart_item_info {
    width: 100%;
}

.product_in_cart_item .product_in_cart_item_info_head_title {
    color: #FFF;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.product_in_cart_item .product_in_cart_item_info_head_desc {
    color: #6B6B6B;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.product_in_cart_item .product_in_cart_item_panel {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.product_in_cart_item .product_in_cart_item_panel .cart_item_panel {
    width: 100%;
    max-width: 119px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-radius: 24px;
    background: #1F1F1F;
    color: #FFF;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.product_in_cart_item .product_in_cart_item_panel .cart_item_panel p {
    padding: 12px;
    cursor: pointer;
}

.product_in_cart_item .product_in_cart_item_panel .cart_item_panel p:first-child {
    border-right: 1px solid rgba(255, 255, 255, 0.08);
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

.product_in_cart_item .product_in_cart_item_panel .cart_item_panel p:last-child {
    border-left: 1px solid rgba(255, 255, 255, 0.08);
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

.product_in_cart_item .product_in_cart_item_panel .cart_item_panel p:first-child:hover,
.product_in_cart_item .product_in_cart_item_panel .cart_item_panel p:last-child:hover {
    background: white;
    transition: 0.5s;
    color: #0E0E0E;
}

.product_in_cart_item .product_in_cart_item_panel .cart_item_price {
    margin-left: 16px;
    color: #FFF;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: flex-start;
}

.product_in_cart_item .product_in_cart_item_panel .cart_item_price span {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 500;
}


@media (max-width:992px) {

    header{
        min-height: auto;
    }

    header
    .header_starter,
    header
    .header_bucket a{
        display: none;
    }

    .menu__box .header_starter{
        display: flex;
        padding: 10px;
        margin-top: 50px;
    }

    header
    .category_container,
    .category {
        display: none;
    }

    .swiper_container_head{
        display: block;
    }
    
    .menu__btn_container{
        display: block;
    }
}

@media (max-width:607px) {
    .header_logo img{
        max-width: 145px;
    }

    header .container{
        width: auto;
    }
}

@media (max-width:452px) {
    .menu__box {
        width: 100%;
    }
}


.trash_container_product_item{
    cursor: pointer;
    border-radius: 40px;
    display: flex;
}

.trash_container_product_item img{
    background: rgba(255, 255, 255, 0.08);
    padding: 6px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
}

.trash_container_product_item img:hover{
    transition: 0.5s;
    background: black;
}