.product_container{
    margin-bottom: 100px;
}

.product_container h2{
    color: #FFF;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.product_list,
.product_list_category {
    display: flex;
}

.product_list .product_list_item {
    min-width: fit-content;
}

.product_list .product_list_item,
.product_list_category .product_item_category {
    position: relative;
    width: 25%;
    max-width: 310px;
    border-left: 1px solid #1F1F1F;
}

.product_list .product_list_item:last-child,
.product_list_category .product_item_category:last-child {
    border-right: 1px solid #1F1F1F;
}

@media (max-width: 800px) {
        .product_list .product_list_item,
    .product_list_category .product_item_category {
        border-left: none;
    }

    .product_list .product_list_item:last-child,
    .product_list_category .product_item_category:last-child {
        border-left: none;

    }
}

.product_list .product_list_item .product_list_subcontainer,
.product_list_category .product_item_category .product_list_subcontainer {
    padding-left: 32px;
    padding-right: 32px;

}

.product_list .product_list_item img,
.product_list_category .product_item_category img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.product_list .product_list_item .product_title,
.product_list_category .product_item_category .product_title {
    color: #FFF;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}


.product_info{
    display: flex;
}

.product_info .product_weight{
    color: #FFF;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    display: flex;
    align-items: flex-start;
}

.product_info .product_weight span{
    margin-left: 3px;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-weight: 300;
}

.product_info .product_price{
    margin-right: 10px;
    color: #FFF;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: flex-start;
}

.product_info .product_price span{
    margin-left: 3px;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-weight: 500;
}

.product_additional_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product_additional_info button{
    width: 119px;
    height: 63px;
    border: none;
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    background: url("../img/layer/buy.svg");
    cursor: pointer;
    outline: none;
}

.product_more_info{
    width: 100%;
    max-width: 239px;
    color: #6B6B6B;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}

.product_more_info span{
    color: #00A8FF;
}


.more_container {
    margin-top: 55px;
    display: flex;
    justify-content: center;
}

.more_container a {
    color: #FFF;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    display: inline-block;
}

.more_container span {
    display: inline-block;
    transform: rotate(355deg);
    max-width: 145px;
    margin-left: 8px;
}

.product_special_container {
    display: flex;
    position: absolute;
    top: 0;
    right: 22px;
}

.product_special_container img {
    max-width: 30px;
}

.product_special_container img:first-child {
    margin-right: 10px;
}

@media (max-width: 1400px) {
    .product_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .product_list .product_list_item {
        width: 45%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .product_container h2 {
        text-align: center;
    }
}

.upper_head_panel {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upper_head_panel h2 {
    margin-bottom: 0;
}

.upper_head_panel .tab {
    background: none;
    color: #FFF;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 26px;
    font-weight: 600;
    text-transform: lowercase;
}

@media (max-width: 600px) {
    .banner {
        min-height: auto !important;
    }

    .delivery .row {
        display: block;
    }
}

.product_regular_price {
    text-decoration: line-through;
}

@media (max-width:340px) {
    .product_container .container{
        padding: 0;
    }
}