.interest{
    margin-top: 149px;
    padding-bottom: 156px;
}

.interest_title{
    color: #FFF;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.single_row{
    display: flex;
    justify-content: space-between;
}

.single_row .img_single_container,
.single_row .content_single_container
{
    width: 50%;
    padding: 10px;
}

.single_row .img_single_container img{
    width: 100%;
    height: 100%;
    max-height: 506px;
}

.single_product_title{
    color: #FFF;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 64px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.content_single_description{
    color: #6B6B6B;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px; 
}

.single_tags_container{
    display: flex;
    margin-top: 24px;
    align-items: center;
}

.single_tags_container div{
    margin-right: 10px;
}

.single_tags_container div:last-child{
   margin-right: 0; 
}

.product_regular_price_panel{
    font-size: 12px;
    text-decoration: line-through;
}

.vegan_span{
    border-radius: 24px;
    background: #62C300;
    padding: 6px;
    display: flex;
    align-items: center;
    width: fit-content;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}

.vegan_span img{
    max-width: 64px;
    margin-right: 6px;
}

.hot_span{
    border-radius: 24px;
    background: red;
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    align-items: center;
    width: fit-content;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}

.hot_span img{
    max-width: 64px;
    margin-right: 3px;
}

.single_panel_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
    margin-top: 48px;
}

.single_panel_container .span_price_container {
    width: 105px;
    height: 55px;
    background: url("../img/layer/buy_single_btn.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00A8FF;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
}

.single_panel_container .span_price_container span {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.single_panel_container button {
    height: 56px;
    cursor: pointer;
    width: 463px;
    color: white;
    border-radius: 8px;
    background: #00A8FF;
    color: #FFF;
    border: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
}


.single_size_container {
    margin-bottom: 48px;
}

.single_size_container .single_size_container_title {
    color: #FFF;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.single_size_container .single_size_subcontainer {
    display: flex;
}

.single_size_container .single_size_subcontainer .size_container_item_link {
    margin-right: 32px;
}

.single_size_container .single_size_subcontainer .size_container_item {
    cursor: pointer;
    width: 218px;
    height: 94px;
    border-radius: 12px;
    border: 1px solid #00A8FF;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.02);
    margin-right: 32px;
}

.single_size_container .single_size_subcontainer .size_container_item img {
    margin-right: 12px;
}

.single_size_container .single_size_subcontainer .size_container_item .size_characteristics {
    border-radius: 64px;
    background: #00A8FF;
    display: flex;
    align-items: center;
    padding: 6px 12px;
}

.single_size_container .single_size_subcontainer .size_container_item .size_characteristics p {
    color: #FFF;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
}

.single_size_container .single_size_subcontainer .size_container_item .size_characteristics p span {
    color: #FFF;
    margin-left: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

.single_size_container .single_size_subcontainer .size_container_item .size_characteristics p:first-child {
    align-items: baseline;
}

.single_size_container .single_size_subcontainer .size_container_item .size_characteristics p:last-child {
    align-items: flex-start;
}

.single_size_container .single_size_subcontainer .size_container_item .size_characteristics .line {
    margin-left: 5px;
    margin-right: 5px;
}

.single_size_container .single_size_subcontainer .size_container_item:last-child {
    margin-right: 0;
}


.souce_container_chooser .souce_container_chooser_head {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.souce_container_chooser .souce_container_chooser_head span {
    border-radius: 64px;
    background: #FF2C2C;
    padding: 6px 12px;
    max-width: 144px;
    width: 100%;
    color: #FFF;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.souce_container_chooser .souce_container_chooser_head .souce_container_chooser_title {
    color: #FFF;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
}

.souce_container_chooser .souce_chooser_desc {
    color: #6B6B6B;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 32px;
}

.souce_container_chooser .souce_item {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    max-width: 498px;
    width: 100%;
}

.souce_container_chooser .souce_item div:first-child {
    color: #FFF;
    width: 70%;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
}

.souce_container_chooser .souce_item div:last-child {
    display: flex;
    width: 30%;
    justify-content: flex-end;
    color: #00A8FF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
}


@media (max-width:1400px) {
    .single_panel_container button{
        width: 240px;
    }
}

@media (max-width: 992px) {
    .single_row {
        display: block;
    }

    .interest .interest_title {
        text-align: center;
    }

    .single_row .img_single_container, 
    .single_row .content_single_container {
        width: 100%;
    }

    .single_first_item {
        display: flex;
        justify-content: center;
    }

    .single_panel_container div {
        width: 50%;
    }

    .single_panel_container div .add-to-cart-button {
        width: 100%;
    }
}

@media (max-width: 630px) {
    .single_panel_container {
        display: block;
    }

    .single_panel_container .add-to-cart-button {
        margin-top: 40px;
    }

    .single .container {
        padding: 0;
        width: fit-content;
    }

    .interest .interest_title {
        padding: 10px;
    }

    .single_row .img_single_container {
        width: -webkit-fill-available;
    }

    .single_row .content_single_container {
        width: -webkit-fill-available;
    }

    .single_product_title {
        font-size: 50px;
    }

    .single_size_container .single_size_subcontainer {
        display: block;
    }

    .single_size_container .single_size_subcontainer .size_container_item {
        width: 100%;
        margin-top: 30px;
    }

    .single_row {
        height: max-content;
    }
}
